
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url('bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

header {
  font-weight: bold;
  background-color: #2e2d2d;
  color: #fff;
  padding: 20px;
  text-align: right;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 25px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

section {
  padding: 100px;
  text-align: center;
}

h1 {
  font-size: 24px;
  color: #ffffff;
}

p {
  font-size: 11px;
  color: #ffffff;
  margin-bottom: 20px;
}

footer {
  background-color: #2e2d2d;
  color: #fff;
  padding: 10px;
  text-align: center;
}
